.button {
    text-decoration: none;
    border: 2px solid var(--accent);
    color: var(--accent);
    font-size: 14px;
    padding: 20px 35px;
    text-transform: uppercase;
    border-radius: 100px;
    transition: all 0.3s ease 0s;

    &:hover {
        background-color: var(--secondary);
        border: 2px solid var(--secondary);
        backdrop-filter: blur(8px);
        color: var(--white);
    }
}

@media (max-width: 768px) {

    .primary-button,
    .secondary-button {
        font-size: 13px;
        padding: 12px 25px;
    }
}

@media (max-width: 425px) {

    .primary-button,
    .secondary-button {
        font-size: 13px;
        padding: 10px 20px;
    }
}