section.title-wrapper {
    padding: 100px 10px 30px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;

    @media (max-width: 768px) {
        padding: 100px 10px 50px 10px;
    }

    @media (max-width: 425px) {
        padding: 70px 10px 30px 10px;
    }

    .heading {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;

        h1 {
            color: var(--secondary);
            font-size: 70px;
            font-weight: 700;
            text-align: center;

            @media (max-width: 768px) {
                font-size: 50px;
            }

            @media (max-width: 425px) {
                font-size: 40px;
            }
        }

        h2 {
            font-size: 30px;
            text-align: center;
            color: var(--secondary);
            font-weight: 500;

            @media (max-width: 768px) {
                font-size: 20px;
            }

            strong {
                font-family: "Montserrat";
                font-weight: 600;
                color: var(--accent);
            }
        }

        span {
            font-size: 22px;
            text-align: center;
            color: var(--secondary);

            @media (max-width: 1024px) {
                font-size: 18px;
            }
        }
    }

    .body-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 600px;
        gap: 30px;

        @media (max-width: 768px) {
            width: 500px;
        }

        @media (max-width: 530px) {
            width: 400px;
        }

        @media (max-width: 425px) {
            width: 90%;
        }

        p {
            text-align: center;
            font-size: 18px;

            @media (max-width: 768px) {
                font-size: 16px;
            }
        }
    }
}

section.grid-works {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 90%;
    padding: 100px 0;
    gap: 40px;

    @media (max-width: 1024px) {
        width: 90%;
    }

    @media (max-width: 1024px) {
        width: 90%;
        padding: 40px 0;
    }

    .title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
            color: var(--secondary);
            font-size: 70px;
            font-weight: 700;

            @media (max-width: 768px) {
                font-size: 50px;
            }

            @media (max-width: 425px) {
                font-size: 30px;
                margin-bottom: 10px;
            }
        }

        .pagebody {
            text-align: center;
            width: 700px;
            font-size: 21px;

            @media (max-width: 768px) {
                width: 400px;
                font-size: 18px;
            }

            @media (max-width: 425px) {
                width: 90%;
            }
        }
    }

    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;

        @media (max-width: 1024px) {
            gap: 20px;
        }

        @media (max-width: 768px) {
            grid-template-columns: repeat(1, 1fr);
            gap: 20px;
        }

        .work {
            height: 70vh;
            display: flex;
            flex-direction: row;
            justify-content: start;
            align-items: end;

            text-decoration: none;
            background-color: aqua;


            &:hover {

                .tint {
                    opacity: 1;

                    @media (max-width: 768px) {
                        opacity: 0;
                    }

                    .metadata {
                        opacity: 1;
                        margin-bottom: 0;
                    }
                }
            }

            .tint {
                opacity: 0;
                display: flex;
                flex-direction: row;
                align-items: end;
                justify-content: start;
                display: flex;
                background-color: rgba(0, 0, 0, 0.24);
                height: 100%;
                width: 100%;
                transition: all .3s ease;
                padding: 30px;

                @media (max-width: 768px) {
                    opacity: 1;
                }

                .metadata {
                    opacity: 0;
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    justify-content: center;
                    gap: 10px;
                    transition: all .3s ease;
                    margin-bottom: -50px;

                    @media (max-width: 768px) {
                        opacity: 1;
                    }

                    .heading {
                        color: var(--white);
                        font-size: 25px;
                    }

                    .text {
                        color: #f3f7fa7b;
                    }
                }
            }
        }
    }
}