section.hero {
    display: flex;
    flex-direction: column;
    height: 100vh;

    @media (max-width: 1024px) {
        height: 80vh;
    }

    @media (max-width: 768px) {
        height: 60vh;
    }

    @media (max-width: 425px) {
        height: 50vh;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        height: inherit;
        padding-bottom: 50px;
        gap: 20px;

        @media (max-width: 768px) {
            padding-bottom: 30px;
            gap: 10px;
        }

        .header {
            color: var(--white);
            font-size: 70px;
            text-align: center;

            @media (max-width: 1024px) {
                font-size: 50px;
            }

            @media (max-width: 768px) {
                font-size: 35px;
            }
        }

        p {
            color: var(--white);
            font-size: 24px;

            @media (max-width: 768px) {
                font-size: 18px;
            }
        }

        .lynq-studio-signature {

            @media (max-width: 1024px) {
                width: 400px;
            }

            @media (max-width: 768px) {
                width: 250px;
            }
        }

        .pagebody {
            color: var(--white);
            font-size: 24px;
            width: 700px;
            text-align: center;

            span {
                font-family: "Montserrat";
                color: var(--white);

                strong {
                    font-family: "Montserrat";
                    font-weight: 600;
                    color: var(--accent);
                }
            }

            @media (max-width: 1024px) {
                font-size: 21px;
                width: 550px;
            }

            @media (max-width: 768px) {
                font-size: 21px;
                width: 400px;
            }

            @media (max-width: 425px) {
                font-size: 21px;
                width: 90%;
            }
        }
    }
}